@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: url('res/fonts/squada-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Squada One'), local('SquadaOne-Regular'), url('res/fonts/squada-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), url('res/fonts/squada-one-v5-latin-regular.woff2') format('woff2'), url('res/fonts/squada-one-v5-latin-regular.woff') format('woff'),
       url('res/fonts/squada-one-v5-latin-regular.ttf') format('truetype'),
       url('res/fonts/squada-one-v5-latin-regular.svg#SquadaOne') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('res/fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('res/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('res/fonts/roboto-v15-latin-regular.woff2') format('woff2'), 
       url('res/fonts/roboto-v15-latin-regular.woff') format('woff'), 
       url('res/fonts/roboto-v15-latin-regular.ttf') format('truetype'),
       url('res/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
}